<article class="article ">
  <article-header [title]="title" [date]="date"></article-header>

  <div class="content is-medium">

    <p>W3C Web Components をフレームワーク化したもの。</p>
    <p>SPA（Single-Page Application）を作ることができる。</p>

    <br>

    <ads></ads>

    <br>
    <h3>W3C Web Components って何？</h3>
    <hr>

    <p>Web を部品化するしくみ。</p>
    <ul>
      <li>Custom Element … 独自タグを定義する</li>
      <li>HTML Template … HTMLを部品化する</li>
      <li>HTML Imports … 部品化したHTMLを取り込む</li>
      <li>Shadow DOM（Scoped CSS） … DOMをカプセル化する</li>
    </ul>

    <br>
    <h3>W3C Web Components のイメージ</h3>
    <hr>

    <img src="https://cdn.banana-juice.com/angular/img/what-is-angular/w3c_web_components.png" width="615px" height="402px">

    <br>
    <h3>SPA（Single-Page Application）って何？</h3>
    <hr>

    <p>ひとつのページで完結したWebアプリケーション。</p>
    <p>ページ遷移はせず、DOM操作により切り替える。</p>
    <p>サーバとのやりとりは、REST や WebSocket などで行う。</p>
    <br>
    <p>対比されるのは、MPA (Multi-Page Application）。</p>
    <p>MPA は従来のWebアプリケーション。</p>

    <br>
    <h3>SPA と MPA のイメージ比較</h3>
    <hr>

    <img src="https://cdn.banana-juice.com/angular/img/what-is-angular/spa_vs_mpa_by_image.png" width="792px" height="507px">

    <br>
    <h3>SPA と MPA のアーキテクチャ比較</h3>
    <hr>

    <img src="https://cdn.banana-juice.com/angular/img/what-is-angular/spa_vs_mpa_by_architecture.png" width="547px" height="445px">

    <next-nav></next-nav>
  </div>
  <!-- /.content -->
</article>