<ads></ads>
<aside class="menu">
  <p class="menu-label">
    Angular って何??
  </p>
  <ul class="menu-list">
    <li><a routerLink="{{links[0].href}}" routerLinkActive="is-active">{{links[0].title}}</a></li>
    <li><a routerLink="{{links[1].href}}" routerLinkActive="is-active">{{links[1].title}}</a></li>
  </ul>
  <p class="menu-label">
    Hello World してみよう
  </p>
  <ul class="menu-list">
    <li><a routerLink="{{links[2].href}}" routerLinkActive="is-active">{{links[2].title}}</a></li>
    <li><a routerLink="{{links[3].href}}" routerLinkActive="is-active">{{links[3].title}}</a></li>
  </ul>
  <p class="menu-label">
    アプリを作ってみよう
  </p>
  <ul class="menu-list">
    <li><a routerLink="{{links[4].href}}" routerLinkActive="is-active">{{links[4].title}}</a></li>
    <li><a routerLink="{{links[5].href}}" routerLinkActive="is-active">{{links[5].title}}</a></li>
  </ul>
</aside>