<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>ふわりAngular</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Angularを勉強しながら実際にサイトを作ってみました。初心者にも分かりやすい解説を載せています。" />

	<style>
		body {
			font-family: 'Noto Sans Japanese', sans-serif;
		}
		
		.go-top {
			position: fixed;
			left: calc(100% - 140px);
			bottom: 40px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
		}
	</style>
</head>

<body>
	<div id="main">
		<section class="hero is-primary">
			<!-- Hero header: will stick at the top -->
			<div class="hero-head">
				<header class="nav">
					<div class="container">
						<div class="nav-left">
							<a href="/angular/" class="nav-item">
                ふわりAngular
              </a>
						</div>
						<!--
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
						<div class="nav-right nav-menu">
							<a class="nav-item is-active" href="/angular/">Home</a>
							<span class="nav-item">
                <a class="button is-primary is-inverted">
                  <span class="icon"><i class="fa fa-github"></i></span>
							<span>Download</span>
							</a>
							</span>
						</div>
            -->
					</div>
				</header>
			</div>

			<!-- Hero content: will be in the middle -->
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						<a href="/angular/">ふわりAngular</a>
					</h1>
					<h2 class="subtitle" style="font-size:14px;">
						<p>このサイトはAngularで
							<s>作られています。</s>作る予定です。</p>
						<p>Angular初心者なので玄人向けの情報はありません。</p>
						<p>初心者の方、理解レベルが同じくらいの方のお役に立てれば幸いです。</p>
					</h2>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">

				<div class="tile is-ancestor">

					<div class="tile is-parent is-vertical is-4">
						<div class="card is-fullwidth message is-primary">
							<header class="card-header message-header">
								<p class="card-header-title">
									Angularって何？ ※未作成
								</p>
								<span class="card-header-icon">
                    <i class="fa fa-angle-right"></i>
                  </span>
							</header>
							<div class="card-content">
								<div class="content">
									"W3C Web Components" って何？<br> "SPA (Single-Page Application)" って何？
								</div>
							</div>
						</div>
					</div>

					<div class="tile is-parent is-vertical is-4">
						<div class="card is-fullwidth message is-primary">
							<header class="card-header message-header">
								<p class="card-header-title">
									Angularエコシステム ※未作成
								</p>
								<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
							</header>
							<div class="card-content">
								<div class="content">
									同封のものたち
									<ul>
										<li>Angular CLI</li>
										<li>NativeScript ... etc</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="tile is-ancestor">
					<div class="tile is-parent is-8">
						<div class="card is-fullwidth message is-primary">
							<header class="card-header message-header">
								<p class="card-header-title">
									必要なツールをインストールしよう ※未作成
								</p>
								<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
							</header>
							<div class="card-content">
								<div class="content">
									※for Windows10
									<ul>
										<li>git bash</li>
										<li>python2.7</li>
										<li>Ruby</li>
										<li>Visual Studio 2015 Community</li>
										<li>Windows 10 SDK</li>
										<li>nodist</li>
										<li>nodejs</li>
										<li>yo grunt-cli bower gulp live-server</li>
										<li>Visual Studio Code</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tile is-ancestor">

					<div class="tile is-parent is-vertical is-4">
						<div class="card is-fullwidth message is-primary">
							<header class="card-header message-header">
								<p class="card-header-title">
									プロジェクトを作ってみよう ※未作成
								</p>
								<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
							</header>
							<div class="card-content">
								<div class="content">
									<code>ng new</code> してプロジェクトを作る。<br>
									<code>ng build</code> してビルドする。<br>
									<code>ng serve</code> してブラウザで確認する。
								</div>
							</div>
						</div>
					</div>

					<div class="tile is-parent is-vertical is-4">
						<div class="card is-fullwidth message is-primary">
							<header class="card-header message-header">
								<p class="card-header-title">
									TODOリストを作ってみよう ※未作成
								</p>
								<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
							</header>
							<div class="card-content">
								<div class="content">
									app.component を修正する。
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="tile is-ancestor">


				</div>

				<div class="tile is-ancestor">

					<div class="tile is-parent is-vertical is-8">
						<div class="card is-fullwidth message is-primary">
							<header class="card-header message-header">
								<p class="card-header-title">
									コンポーネント分割してみよう ※未作成
								</p>
								<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
							</header>
							<div class="card-content">
								<div class="content">
									<code>ng g</code> して部品を自動生成する。<br>
									<code>@Input()</code>,<code>@Output()</code> でデータやイベントを送受信する。
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="tile is-ancestor">

					<div class="tile is-parent is-vertical is-8">
						<div class="card is-fullwidth message is-primary">
							<header class="card-header message-header">
								<p class="card-header-title">
									テストしてみよう ※未作成
								</p>
								<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
							</header>
							<div class="card-content">
								<div class="content">
									<code>ng test</code> で単体テストをする。
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /.tile .ancestor -->

			</div>
			<!-- /.container -->
		</section>

		<section class="section">
			<div class="container">
				<div class="content is-large has-text-centered">
					To Be Continued ...
				</div>
			</div>
		</section>

		<a href="#" class="button is-success go-top">ページTOPへ <i class="fa fa-arrow-up"></i></a>

		<footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<p><a href="/angular/">- Copyright © 20016 ふわりAngular All Rights Reserved. -</a></p>
					<p>Thanks to <a href="https://angular.io/">Angular</a></p>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>