<section class="section">
  <div class="container">

    <article class="article ">
      <p class="subtitle">
        <a routerLink="/">戻る</a>
      </p>
      <p class="subtitle is-4">
        2016/11/10
      </p>
      <h1 class="title is-2">
        Angularエコシステム
      </h1>
      <hr>
      <div class="content is-medium">

        <p>種類はたくさん。理解する前に廃れる物もあるのかも・・・。</p>

        <br>

        <ads></ads>

        <ul>
          <li>Angular 2 Release Candidate</li>
          <li>Angular CLI</li>
          <li>Angular Universal</li>
          <li class="gray">Angular Mobile Tool Kit※</li>
          <li class="gray">Angular Augury※</li>
          <li>Angular Material 2</li>
          <li class="gray">Angular Firebase 2※</li>
          <li>Angular 2 Style Guide</li>
          <li>Angular References</li>
          <li>Native Script 2.0</li>
          <li>Codelyzer</li>
        </ul>
        <p>※灰色の字のものはなんとなくすらわかってないので書いてないです。。</p>

        <br>
        <h3>Angular CLI</h3>
        <hr>

        <p>Command Line Interface (コマンドラインインターフェース)</p>
        <p>Angularでやりたいことは全部できるらしい。</p>
        <p>
          yeomon とか bower とか grunt/gulp とか使わなくてもまかなえるらしい。<br>ひとつにまとまるのはいいこと。
        </p>

        <br>
        <h3>Angular Universal</h3>
        <hr>

        <p>サーバサイドレンダリング</p>
        <p>ソースを書くときはAngularの文法で書くのだが、それをJavaScriptにコンパイルする必要がある。</p>
        <ul>
          <li>ブラウザでやる ・・・ 遅い</li>
          <li>サーバでやる ・・・ 早い</li>
          <li>初回起動時にやる ・・・ めちゃ早い！！</li>
        </ul>
        <p>データ表示するfor文なども事前ロードできるのでSEO対策にも役立つ。</p>
        <p>AoT (Ahead-of-Time) と組み合わせてさらに高速に。</p>

        <br>
        <h3>Angular Material 2</h3>
        <hr>

        <p>マテリアルデザイン (Material Design) を提供するライブラリ。</p>
        <p>流行りの感じなのでおしゃれ。</p>

        <br>
        <h3>Angular 2 Style Guide</h3>
        <hr>

        <p>Angularのお作法とか。</p>

        <br>
        <h3>Angular Reference</h3>
        <hr>

        <p>Angularのリファレンスとか。</p>

        <br>
        <h3>Native Script 2.0</h3>
        <hr>

        <p>JavaScriptからNative出力してくれる。</p>
        <p>ソースから各プラットフォームへのマッピングをしてくれるので、IEとかiOSとかAndroidとか意識する必要がない。</p>

        <br>
        <h3>Codelyzer</h3>
        <hr>

        <p>静的コード分析ができる。eslint。</p>

      </div>
      <!-- /.content -->
    </article>

  </div>
  <!-- /.container -->
</section>