<section class="section">
	<div class="container">
		<div class="tile is-ancestor">

			<div class="tile is-parent is-vertical is-4">
				<div class="card is-fullwidth message is-primary">
					<a routerLink="/what-is-angular.html">
						<header class="card-header message-header">
							<p class="card-header-title">
								Angularって何？
							</p>
							<span class="card-header-icon">
                    <i class="fa fa-angle-right"></i>
                  </span>
						</header>
					</a>
					<div class="card-content">
						<div class="content">
							"W3C Web Components" って何？<br> "SPA (Single-Page Application)" って何？
						</div>
					</div>
				</div>
			</div>

			<div class="tile is-parent is-vertical is-4">
				<div class="card is-fullwidth message is-primary">
					<a routerLink="/eco-system.html">
						<header class="card-header message-header">
							<p class="card-header-title">
								Angularエコシステム
							</p>
							<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
						</header>
					</a>
					<div class="card-content">
						<div class="content">
							同封のものたち
							<ul>
								<li>Angular CLI</li>
								<li>NativeScript ... etc</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="tile is-ancestor">
			<div class="tile is-parent is-8">
				<div class="card is-fullwidth message is-primary">
					<a routerLink="/install.html">
						<header class="card-header message-header">
							<p class="card-header-title">
								必要なツールをインストールしよう
							</p>
							<span class="card-header-icon"><i class="fa fa-angle-right"></i></span>
						</header>
					</a>
					<div class="card-content">
						<div class="content">
							※for Windows10
							<ul>
								<li>git bash</li>
								<li>python2.7</li>
								<li>Ruby</li>
								<li>Visual Studio 2015 Community</li>
								<li>Windows 10 SDK</li>
								<li>nodist, Node.js</li>
								<li>angular-cli</li>
								<li>Visual Studio Code</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tile is-ancestor">

			<div class="tile is-parent is-vertical is-4">
				<div class="card is-fullwidth message is-primary">
					<header class="card-header message-header">
						<p class="card-header-title">
							プロジェクトを作ってみよう ※未作成
						</p>
						<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
					</header>
					<div class="card-content">
						<div class="content">
							<code>ng new</code> してプロジェクトを作る。<br>
							<code>ng build</code> してビルドする。<br>
							<code>ng serve</code> してブラウザで確認する。
						</div>
					</div>
				</div>
			</div>

			<div class="tile is-parent is-vertical is-4">
				<div class="card is-fullwidth message is-primary">
					<header class="card-header message-header">
						<p class="card-header-title">
							TODOリストを作ってみよう ※未作成
						</p>
						<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
					</header>
					<div class="card-content">
						<div class="content">
							app.component を修正する。
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="tile is-ancestor">


		</div>

		<div class="tile is-ancestor">

			<div class="tile is-parent is-vertical is-8">
				<div class="card is-fullwidth message is-primary">
					<header class="card-header message-header">
						<p class="card-header-title">
							コンポーネント分割してみよう ※未作成
						</p>
						<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
					</header>
					<div class="card-content">
						<div class="content">
							<code>ng g</code> して部品を自動生成する。<br>
							<code>@Input()</code>,<code>@Output()</code> でデータやイベントを送受信する。
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="tile is-ancestor">

			<div class="tile is-parent is-vertical is-8">
				<div class="card is-fullwidth message is-primary">
					<header class="card-header message-header">
						<p class="card-header-title">
							テストしてみよう ※未作成
						</p>
						<span class="card-header-icon">
                  <i class="fa fa-angle-right"></i>
                </span>
					</header>
					<div class="card-content">
						<div class="content">
							<code>ng test</code> で単体テストをする。
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.tile .ancestor -->
	</div>
	<!-- /.container -->
</section>

<section class="section">
	<div class="container">
		<div class="content is-large has-text-centered">
			To Be Continued ...
		</div>
	</div>
</section>