<section class="section">
  <div class="container">

    <article class="article ">
      <p class="subtitle">
        <a routerLink="/">戻る</a>
      </p>
      <p class="subtitle is-4">
        2016/11/9
      </p>
      <h1 class="title is-2">
        Angularって何？
      </h1>
      <hr>
      <div class="content is-medium">

        <p>W3C Web Components をフレームワーク化したもの。</p>
        <p>SPA (Single-Page Application) を作ることができる。</p>

        <br>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- ふわりAngular -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4398400415874126" data-ad-slot="7651079037" data-ad-format="auto"></ins>
        <script>if (location.hostname !== 'localhost') (adsbygoogle = window.adsbygoogle || []).push({});</script>

        <br>
        <h3>W3C Web Components って何？</h3>
        <hr>

        <p>Web を部品化する仕組み。</p>
        <ul>
          <li>Custom Element ・・・ 独自タグを定義する</li>
          <li>HTML Template ・・・ HTMLを部品化する</li>
          <li>HTML Import ・・・ 部品化したHTMLを取り込む</li>
          <li>Shadow DOM (Scoped CSS) ・・・ DOMをカプセル化する</li>
        </ul>

        <br>
        <h3>W3C Web Components のイメージ</h3>
        <hr>

        <img src="http://cdn.banana-juice.com/angular/w3c_web_components.png">

        <br>
        <h3>SPA (Single-Page Application) って何？</h3>
        <hr>

        <p>ひとつのページで完結したWebアプリケーション。</p>
        <p>ページ遷移はせず、DOM操作により切り替える。</p>
        <p>サーバとのやり取りは、REST や WebSocket などで行う。</p>
        <br>
        <p>対比されるのは、MPA (Multi-Page Application）。</p>
        <p>MPA は従来のWebアプリケーション。</p>

        <br>
        <h3>SPA と MPA のイメージ比較</h3>
        <hr>

        <img src="http://cdn.banana-juice.com/angular/spa_vs_mpa_by_image.png">

        <br>
        <h3>SPA と MPA のアーキテクチャ比較</h3>
        <hr>

        <img src="http://cdn.banana-juice.com/angular/spa_vs_mpa_by_architecture.png">

      </div>
      <!-- /.content -->
    </article>

  </div>
  <!-- /.container -->
</section>