.thumbnails {
  list-style-type: none;
  margin-left: 0;
}
.thumbnail-list {
  margin: 0 5px 1px 0;
  float: left;
  height: 100px;
  overflow: hidden;
}
.thumbnail-image {
  width: 100px;

  &:hover {
    cursor: pointer;
  }
}
.clear {
  clear: both;
}
