<article class="article ">
	<article-header [title]="title" [date]="date"></article-header>

	<div class="content is-medium">

		<p>Angularを始めるにあたり、必要なツールがいくつもありますのでひとつずつインストールしましょう。</p>

		<br>

		<ads></ads>

		<p>
			私は最初、Windows 7でやろうとしたのですが、コンパイルが通らず結局できませんでした。<br>いろいろ調べた結果、StackOverflow に英語で
		</p>
		<p>「Windows 7？ そんな古いOSのことなんて知らねーよ」</p>
		<p>と書いてあったので、Windows10 にアップデートして再インストールをしたら、ようやくできました。</p>

		<p>Mac の場合は少し違いますので注意してください。</p>

		<br>
		<h3>各種ツール</h3>
		<hr>

		<ul>
			<li>Git bash</li>
			<li>Python2.7</li>
			<li>Ruby</li>
			<li>Visual Studio 2015 Community</li>
			<li>Windows 10 SDK</li>
			<li>nodist, Node.js</li>
			<li>angular-cli</li>
			<li>Visual Studio Code</li>
		</ul>

		<br>
		<h3>Git bash</h3>
		<hr>

		<p>Windows で Git を利用するためのツール。</p>
		<p>
			<a href="https://git-for-windows.github.io/" target="_blank">
				<img src="https://git-for-windows.github.io/favicon.ico" alt="Git for Windows" width="18px" height="18px" /> https://git-for-windows.github.io/
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>

		<ul class="thumbnails">
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/gitbash/1.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/gitbash/2.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/gitbash/3.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/gitbash/4.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/gitbash/5.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/gitbash/6.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/gitbash/7.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/gitbash/8.jpg" (click)="showOriginalImage($event)"></li>
		</ul>
		<br class="clear">
		<p>※画像をクリックすると拡大表示します。</p>

		<br>
		<h3>Python2.7</h3>
		<hr>

		<p>npm ライブラリの中の一部で、Pythonを利用しているため。</p>
		<p>3系ではなく2系ですので注意してください。</p>
		<p>
			<a href="https://www.python.org/downloads/" target="_blank">
				<img src="https://www.python.org/static/favicon.ico" alt="Git for Windows" width="18px" height="18px" /> https://www.python.org/downloads/
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>
		<p>インストール後、環境変数PATHを追加する必要があります。</p>

		<ul class="thumbnails">
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/python/1.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/python/2.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/python/3.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/python/4.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/python/5.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/python/6.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/python/7.jpg" (click)="showOriginalImage($event)"></li>
		</ul>
		<br class="clear">
		<p>※画像をクリックすると拡大表示します。</p>

		<br>
		<h3>Ruby</h3>
		<hr>

		<p>Sassコンパイルで利用されています。</p>
		<p>
			Downloads の中にいくつかありますが、「RubyInstallers」を使います。<br>バージョンは（2.3.1）です
		</p>
		<p>
			<a href="https://rubyinstaller.org/" target="_blank">
				<img src="https://rubyinstaller.org/assets/favicon.png" width="18px" height="18px"> Ruby Installer for Windows
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>

		<ul class="thumbnails">
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/ruby/1.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/ruby/2.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/ruby/3.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/ruby/4.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/ruby/5.jpg" (click)="showOriginalImage($event)"></li>
		</ul>
		<br class="clear">
		<p>※画像をクリックすると拡大表示します。</p>

		<br>
		<h3>Visual Studio 2015 Community</h3>
		<hr>

		<p>MacではXcodeを利用しますが、WindowsではVisulalStudioを利用します。</p>
		<p>
			<a href="https://www.microsoft.com/ja-jp/dev/products/community.aspx" target="_blank">
				<img src="https://www.microsoft.com/favicon.ico" width="18px" height="18px" /> Microsoft Visual Studio Community
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>
		<p>
			node-gypのGitHubに、Visulal C++ や Python2.7 が必要なことが書かれてますので、こちらも参考に。<br> Node.jsをWindowsで動かすガイドラインも載っています。
		</p>
		<p>
			<a href="https://github.com/nodejs/node-gyp/blob/master/README.md#installation" target="_blank">
				<img src="https://assets-cdn.github.com/favicon.ico" width="18px" height="18px" /> nodejs/node-gyp #Installation
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>
		<p>
			<a href="https://github.com/Microsoft/nodejs-guidelines/blob/master/windows-environment.md#compiling-native-addon-modules"
			 target="_blank">
				<img src="https://assets-cdn.github.com/favicon.ico" width="18px" height="18px" /> Microsoft's Node.js Guidelines for
				Windows #compiling-native-addon-modules
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>

		<ul class="thumbnails">
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudio/1.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudio/2.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudio/3.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudio/4.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudio/5.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudio/6.jpg" (click)="showOriginalImage($event)"></li>
		</ul>
		<br class="clear">
		<p>※画像をクリックすると拡大表示します。</p>

		<br>
		<h3>Windows 10 SDK</h3>
		<hr>

		<p>Microsoft's Node.js Guidelines for Windows によると、SDK も必要とのことですので、インストールします。</p>
		<p>
			<a href="https://developer.microsoft.com/ja-jp/windows/downloads/windows-10-sdk" target="_blank">
				<img src="https://developer.microsoft.com/favicon.ico" width="18px" height="18px" /> Windows 10 SDK
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>

		<ul class="thumbnails">
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/windowssdk/1.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/windowssdk/2.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/windowssdk/3.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/windowssdk/4.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/windowssdk/5.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/windowssdk/6.jpg" (click)="showOriginalImage($event)"></li>
		</ul>
		<br class="clear">
		<p>※画像をクリックすると拡大表示します。</p>

		<br>
		<h3>nodist</h3>
		<hr>

		<p>Macでは nodebrew を利用しますが、Windows では nodist を利用します。</p>
		<p>
			<a href="https://github.com/marcelklehr/nodist#installation" target="_blank">
				<img src="https://assets-cdn.github.com/favicon.ico" width="18px" height="18px" /> marcelklehr/nodist #Installation
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>

		<ul class="thumbnails">
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/nodist/1.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/nodist/2.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/nodist/3.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/nodist/4.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/nodist/5.jpg" (click)="showOriginalImage($event)"></li>
		</ul>
		<br class="clear">
		<p>※画像をクリックすると拡大表示します。</p>

		<p>インストール後、環境変数にPATHを追加します。</p>
		<p>
			また、npm を動かすため、~/.bash_profile に次の設定を追記します。<br>
			<code>set NODIST_X64=0</code><br>
			<code>npm config set python "Python.exeのPATH"</code><br>
			<code>npm config set msvs_version 2015</code><br>
		</p>

		<p>
			nodist,npm のバージョンを設定します。<br>
			<code>nodist 6.7.0</code><br>
			<code>nodist npm 3.10.8</code><br>
		</p>

		<p>※2016/11/20時点のバージョンなので注意してください。</p>

		<p>
			node,nodist,npm のバージョンを確認します。<br>
			<code>nodist</code><br> > 6.7.0 (global: 6.7.0)<br>
			<code>nodist npm</code><br> > 3.10.8 (global: 3.10.8)<br>
		</p>

		<br>
		<h3>angular-cli</h3>
		<hr>

		<p>以下コマンドを実行し、angular-cli をインストールします。</p>
		<p>
			<code>npm cache clean</code><br>
			<code>npm install -g @angular/cli</code><br>
			<code>npm cache clean</code><br>
			<code>npm install -g node-gyp</code><br>
			<code>npm install -g node-pre-gyp</code><br>
			<code>npm install -g @angular/cli</code><br>
			<code>ng --help</code>
		</p>
		<p>※確認方法はなんでもいいですが、今回はヘルプ表示で確認。</p>

		<br>
		<h3>Visual Studio Code</h3>
		<hr>

		<p>エディタは基本的になんでもよいです。</p>
		<p>今回はその場のノリで、Visual Studio Code を使ってみます。</p>
		<p>
			<a href="https://code.visualstudio.com/" target="_blank">
				<img src="https://code.visualstudio.com/images/favicon.ico" width="18px" height="18px" /> Visual Studio Code
				<span class="icon"><i class="fa fa-external-link-square"></i></span>
			</a>
		</p>

		<ul class="thumbnails">
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudiocode/1.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudiocode/2.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudiocode/3.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudiocode/4.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudiocode/5.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudiocode/6.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudiocode/7.jpg" (click)="showOriginalImage($event)"></li>
			<li class="thumbnail-list"><img class="thumbnail-image" src="https://cdn.banana-juice.com/angular/img/install/visualstudiocode/8.jpg" (click)="showOriginalImage($event)"></li>
		</ul>
		<br class="clear">
		<p>※画像をクリックすると拡大表示します。</p>

		<p>起動が早いのでちょっとした開発には良さそうです。</p>

		<div id="image-modal" class="modal animated">
			<div class="modal-background" (click)="hideOriginalImage()"></div>
			<div class="modal-content">
				<p class="image">
					<img src="" />
				</p>
			</div>
			<button class="modal-close" (click)="hideOriginalImage()"></button>
		</div>

		<next-nav></next-nav>
	</div>
	<!-- /.content -->
</article>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">