<section class="hero is-primary">
	<!-- Hero header: will stick at the top -->
	<div class="hero-head">
		<header class="nav">
			<div class="container">
				<div class="nav-left">
					<a href="/" routerLink="/" class="nav-item">
                ふわりAngular
              </a>
				</div>
				<!--
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
        -->
				<div class="nav-right nav-menu">
					<!--
					<a class="nav-item is-active" href="/angular/">Home</a>
          -->
					<span class="nav-item">
            <a href="https://github.com/c5apple/fuwari-angular" class="button is-primary is-inverted">
              <span class="icon"><i class="fa fa-github"></i></span><span>Download</span></a>
					</span>
				</div>
			</div>
		</header>
	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				<a href="/" routerLink="/">ふわりAngular</a>
			</h1>
			<h2 class="subtitle">
				<p>このサイトはAngularで作られています。</p>
				<p>Angular初心者なので玄人向けの情報はありません。</p>
				<p>初心者の方、理解レベルが同じくらいの方のお役に立てれば幸いです。</p>
			</h2>
		</div>
	</div>
</section>